@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto Slab', serif;
    font-size: 1.6rem;
}
h1,h2{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}

/** Header **/
header {
    letter-spacing: 3px;
    font-size: 120%;
    line-height: 7.5rem;
    color: #9f540f;
    display: flex;
    font-weight: bolder;
}
header h1{
    position: absolute;
    left: 1rem;
    display: flex;
    flex-direction: row;
}
header ul{
    position: absolute;
    right: 1rem;
    display: flex;
    flex-direction: row;
    list-style: none;
}
header li{
    padding-right: 2rem;
}
#img{
    background: #000000;
    height: 10vh;
}
.active{
    border-bottom: 1px solid #fff;
}
header li:hover{
    color: #6d9461;
    list-style: disc;
}

/** Welcome Page **/

#main{
    height: 80rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}
#main p{
    font-size: 130%;
}
#main-bg{
    height: 80rem;
    width: 100%;
    background: url(../images/pexels-rudolf-jakkel-418831.jpg) no-repeat center center;
    background-size: cover;
}
#why-donate{
    width: 45rem;
    height: 30rem;
    top: 15rem;
    left: 7rem;
    position: absolute;
    background-color: rgb(159, 84, 15, 0.9);
    background-size: 100%;
    border: #9f540f solid 1px;
    border-radius: 15%;
    text-align: center;
    color: #072f7e;
}
#why-donate p,#why-here p{
    padding: 0.5rem;
    margin: 5px;
}

#why-here{
    width: 45rem;
    height: 25rem;
    top: 15rem;
    right: 7rem;
    position: absolute;
    background-color: rgb(159, 84, 15, 0.9);
    background-size: 100%;
    border: #3a3a3a solid 1px;
    border-radius: 15%;
    text-align: center;
    color: #072f7e;
}
#press-here{
    width: 15rem;
    bottom: 10rem;
    margin: 0px auto;
    text-align: center;
    position: relative;
}
#donate-button{
    padding: auto;
    font-size: 210%;
    border: 1px solid #3a3a3a;
    background-color: #9f540f;
    color: #072f7e;
}

/** Donation page**/

#donation-section{
    height: 80rem;
    width: 100%;
    background: url(../images/pexels-ahmed-akacha-6929741.jpg) no-repeat center center;
    background-size: cover;
}
#donation-div{
    display: flex;
    flex-direction: row;
}
#donation-section h2 {
    text-align: center;
    font-size: 300%;
    color: #9f540f;
}
#help-form{
    text-align: center;
    width: 50%;
}
#donation-form{
    font-size: 120%;
    width: 25rem;
    border: 1px solid #000000;
    border: rgb(0,0,0,.3) 1rem solid;
    background-color: rgb(109, 148, 97, 0.7);
    margin-left: 10%;
    margin-top: 3rem;
}
#submit{
    font-size: 110%;
}
#help-text{
    border: 1px solid #000000;
    width: 35rem;
    margin-right: 5%;
    margin-top: 3rem;
    margin-left: 20%;
    background-color: rgb(159, 84, 15, 0.9);
    background-size: 100%;
    border: #3a3a3a solid 1px;
    border-radius: 15%;
    text-align: center;
    color: #072f7e;
    font-size: 130%;
}
#help-text h3{
    font-size: 200%;
    padding: 1rem;
}
#help-text p{
    padding: 0.5rem;
}


/** About Us Page **/

#about-us{
    background-color: #6d9461;
    height: 30rem;
    width: 100%;
    outline: #072f7e 1rem solid;
    outline-offset: -1rem;
}
#about{
    
    width: 80%;
    top: 3rem;
    margin: 0px auto;
    text-align: center;
    position: relative;
}
#about p{
    font-size: 130%;
}
#about-detail{
    display:flex ;
}
#info{
    width: 47%;
    padding-left: 3%;
    top: 8rem;
    position: relative;
}
#personal{
    width: 47%;
    padding-right: 3%;
    top: 8rem;
    text-align: right;
    position: relative;
}

/** Contact section **/

#contact-section{
    height: 60rem;
    background-color: #6d9461;
    text-align: center;
    outline: #072f7e 1rem solid;
    outline-offset: -1rem;
    padding-top: 1rem;
}
#contact-section h2{
    font-size: 250%
}
#contact-section div{
    margin: auto;
    margin-top: 5rem;
    
    width: 50%;
    height: 60%;
}
#contact-form{
    background-color: #9f540f;
    font-size: 120%;
    padding: 1rem;
    border: 1rem solid rgb(59, 82, 52,.8);
}
.inputs{
    padding: 0.5rem;
    width: 80%;
    font-size: 110%;
}
#send{
    padding: 1rem;
    width: 10rem;

}

/** Footer **/

footer{
    height: 10vh;
    background-color: #9f540f;
    width: 100%;
    text-align: center; 
}
footer a{
    margin: 10%;
}
#links{
    padding-top: 1.5rem;
    width: 100%;
    font-size: 150%
}
footer h4{
    font-size: 1rem;
    padding-top: 0.5rem;
}

/** Diffrent sized screens **/

@media (max-width: 1100px) {
    #why-donate{
        width: 40%;
    }
    #why-donate p{
        padding: 0rem;
        margin: 0px;
    }
    #why-here{
        width: 40%;
        height: 40%;
    }
    #why-here p{
        padding: 0rem;
        margin: 0px;
    }

}
@media (max-width: 900px) {
    header h1{
        font-size: 100%
        
    }
    header li{
        font-size: 65%;
        
    }
    #why-donate{
        width: 80%;
        left: 10%;
        top: 5%;
        height: 40%;
        display: block;
    }
    #why-here{
        display: block;
        width: 80%;
        left: 10%;
        top: 28rem;
        height: 35%;
    }
    #help-text{
        font-size: 110%;
    }
    #help-text h3{
        padding: 0;
    }
    #about{
        width: 100%;
    }
    #main{
        height: 60rem;
    }
    #main-bg{
        height: 60rem;
    }
    #about-us{
     height: 40rem;
    }
}
@media (max-width: 600px) {
    header{
        letter-spacing: 0;
        line-height: 0;
    }
    header h1{
        left: 27%;
    }
    
    header a{
       line-height: 5rem;
    }
    header ul{
        line-height: 10rem;
        right: 0;
        left: 27%;
    }
    #why-here{
        margin: auto;
        height: 20rem;
        top: 30rem;
        
        font-size: 80%;
    }
    #why-donate{
        height: 22rem;
      
        top: 10;
        font-size: 80%;
    }
    #donation-div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #help-text,#donation-form{
        margin: 0 auto;
        margin-top: 1rem;
        padding: 0;
    }
    #help-form{
        width: 100%;
    }
    #donation-section{
        height: 100rem;
    }
    #donate-button{
        display: none;
    }
    #about-us{
        height: 60rem;
    }
    #about p{
        font-size: 100%;
    }  
    #info{
        left: 25%;
        top: 5rem;
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
    #personal{
        top: 25rem;
        right: 25%  ;
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
}
@media (max-width: 400px){
    header h1,header ul{
        left: 18%;
    }
    #why-here,#why-donate{
        height: 25rem;
        width: 100%;
        left: 0;
    }
    #donation-section h2{
        font-size: 150%;
    }
    #help-text,#donation-form{
        width: 80%;
        border: none;
    }
    #about-detail{
        display: block;
    }
    #personal,#info{
        right: 0;
        left: 0;
    }
    #personal{
        top: 10rem;
    }
}