@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto Slab', serif;
    font-size: 1.6rem;
}
h1,h2{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}

/** Header **/
header {
    letter-spacing: 3px;
    font-size: 120%;
    line-height: 7.5rem;
    color: #fff;
    display: flex;
}
header ul{
    position: absolute;
    right: 1rem;
    display: flex;
    flex-direction: row;
    list-style: none;
}
header li{
    padding-right: 1rem;
}
#img{
    background: url(../images/pexels-daniel-sarmiento-13912832.jpg);
    height: 8rem;
}
.active{
    border-bottom: 1px solid rgb(0, 128, 0);
}

/** Welcome Page **/

#main{
    height: 60rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}
#main p{
    font-size: 130%;
}
#main-bg{
    height: 60rem;
    width: 100%;
    background: url(../images/pexels-feyza-yıldırım-14367476.jpg) no-repeat center center;
    background-size: 100%;
}
#why-donate{
    width: 45rem;
    height: 30rem;
    top: 15rem;
    left: 7rem;
    position: absolute;
    background-image: url(../images/pexels-rudolf-jakkel-418831.jpg);
    background-size: 100%;
    border: #3a3a3a solid 1px;
    border-radius: 15%;
}
#why-donate h2{
    text-align: center;
}
#why-donate p{
    text-align: center;
    padding: 0.5rem;
    margin: 5px;
}

#why-here{
    width: 45rem;
    top: 15rem;
    right: 7rem;
    position: absolute;
    background-image: url(../images/pexels-rudolf-jakkel-418831.jpg);
    background-size: 100%;
}
#why-here h2{
    text-align: center;
}
#press-here{
    width: 30rem;
    bottom: 10rem;
    margin: 0px auto;
    text-align: center;
    position: relative;
}
#donate-button{
    font-size: 210%;
    border: 1px solid #3a3a3a;
    width: 15rem;
    background-color: green;
}

/** About Us Page **/

#about-us{
    height: 60rem;
    width: 100%;
}
#about{
    width: 100%;
    top: 3rem;
    margin: 0px auto;
    text-align: center;
    position: relative;
}
#about p{
    font-size: 130%;
}
#info{
    width: 100%;
    left: 3rem;
    top: 10rem;
    position: relative;
}